labs/venv

**/*.ipynb_checkpoints/

.ipynb_checkpoints
*/.ipynb_checkpoints/*
**/**/*.ipynb_checkpoints/
.ipynb_checkpoints
labs/lab3/lab3Data2
labs/lab3/lab3Data2.zip
labs/lab3/E91 Lab 3 Experiments.xlsx
labs/lab3/.ipynb_checkpoints